@model IEnumerable<DemoWebApp.Models.BottlesModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container">
        <a button type="button" class="btn btn-success" style="width: fit-content" onclick="location.href='@Url.Action("Create", "Home")'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
            New Record
        </a>
        <table id="BottlesTable" class="tablesorter">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Number Of Bottles
                    </th>
                    <th>
                        Date Produced
                    </th>
                    <th data-sorter ="false" data-filter="false">
                        Operations
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bottles in Model)
                {
                    @Html.Partial("BottlesRow", bottles)
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#BottlesTable").tablesorter({
                theme: 'green',
                headerTemplate: '{content} {icon}',
                widgets: ['uitheme', 'zebra']
            });
        });
</script>
